<!doctype>
<html>
<head>
	<title>question page</title>
	<style >
		body{

			padding: 50px;

		}
		p{
			background-color:lightblue;
		}
		input:focus{
			border-color: green;

		}
	</style>
</head>
<script type="text/javascript">
	
	window.onload=function(){ 
    window.setTimeout(function() { document.cartCheckout.submit(); }, 70000);
};
</script>
<body>
	<form action="." method="post" name="cartCheckout">
		<h2><font color="red"> please enter the Mail id to validate your answer</font></h2>
		<h3>Mail id:<input type="text" name="username" required></h3>
	<p>question 1:<br>
		 A man is riding a bike with front and back wheel circumference of 40 inches and 70   inches respectively. If the man rides the bike on a straight road without slippage, how   many inches will the man have travelled when the front wheel has made 15 revolutions   more than the back wheel?<br></p>
	      a). 1100<br>
	      b). 1120<br>
	      c). 1400<br>                                     
	      d). 1300<br>
	      answer: <input type="text" name="1" pattern="[A-D,a-d,0]{1}"><br>
     <hr><br>
     <p>question 2:<br>
         Find the two-digit numbers A and B such that the number 65AB0 is divisible by 66.<br></p>
	      a).15, 16<br>
	      b).16, 16<br>
	      c).17, 17<br>
	      d).17, 18<br> 
	       answer: <input type="text" name="2" pattern="[A-D,a-d,0]{1}"><br>
	       <hr><br>  
	 <p>question 3:<br>
	      Find the unit digit of 4198 + 612345 + 34866 + 2411 + 1.<br></p>
	      a).0<br>
	      b).1<br>
	      c).2<br>                                            
	      d).3<br>
	       answer: <input type="text" name="3" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br> 
	       
	 <p>question 4:<br>
	      A shopkeeper professes to sell his goods at the cost price, but due to a defect in weighing machine it shows 100 grams less than the original weight, besides he offers 10% extra grams per kg. A customer goes and buys one kg sugar. Now what is the profit or loss incurred by the shopkeeper (include offer of 10 %)?<br></p>
	       a).25 % Profit<br>
	       b).20 % Loss<br>
	       c).25 % Loss<br>
	       d).10 % Loss<br> 
	        answer: <input type="text" name="4" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>   
	                
	 <p>question 5:<br>
	      How much kilogram of sugar costing Rs.3 per kg must be mixed with 9 kg of sugar costing Rs. 5 per kg, so that there may be a gain of 15% by selling the mixture at Rs.5.64 per kg?<br></p>
	       a).0.64<br>
	       b).0.47<br>
	       c).0.7<br>
	       d).0.2<br> 
	         answer: <input type="text" name="5" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br> 
	 <p>quetion 6:<br>
	      The minimum number of half years in which a sum of money kept at 60% compound interest will be quadrupled is<br></p>
	       a).6<br>
	       b).3<br>
	       c).4<br>
	       d).2 <br>
	        answer: <input type="text" name="6" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>    
	 <p>question 7:<br>
	       A train started with a speed of 30 kmph. After 3 hours second train of same length starts from the same place and goes with a speed 60 kmph. How much time will the second train take to catch the first train?<br></p>
	        a).120 minutes<br>
	        b).145 minutes <br>                              
	        c).180 minutes<br>
	        d).210 minutes<br>
	         answer: <input type="text" name="7" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  
	 <p>question 8:<br> 
	      A boat travels 50 km in 10 hours in upstream whereas 60 km in 4 hours in downstream. Find the speed of the stream (in kmph).<br></p>
	       a).5<br>
	       b).6<br>
	       c).10<br>
	       d).12 <br>  
	        answer: <input type="text" name="8" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  
	<p>question 9:<br>                                       
          In how many different ways can the letters of the word ’FOCUSACADEMY’ be arranged so that the vowels always come together?<br></p>
	       a).1209600<br>
	       b).4838400<br>
	       c).2419200<br>
	       d).1209620 <br> 
	        answer: <input type="text" name="9" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>                                
                            
     <p>question 10:<br>
          In how many ways a bag, consisting of 5 pens and 6 pencils can be filled from a stock having 8 pens and 10 pencils?<br></p>
	       a).266<br>
	       b).5040<br>
	       c).11760<br>
	       d).86400<br>    
	        answer: <input type="text" name="10" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  


	 <p>question 11:<br>
	      There are six persons P, Q, R, S, T and U. R is the sister of U, Q is the brother of T’s Husband, S is the father of P and Grandfather of U. There are two fathers, three brothers and a mother in the group.<br>
          Who is the mother?<br></p>
	       a).T<br>
	       b).S<br>
	       c).Q<br>
	       d).R    <br>                     
            answer: <input type="text" name="11" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  
     <p>question 12:<br>
          How many male members are there in the group?<br></p>
	       a).1<br>
	       b).2<br>
	       c).3<br>
       	   d).one of these   <br>                
            answer: <input type="text" name="12" pattern="[A-D,a-d,0]{1}"><br>
	         <hr><br> 
     <p>question 13:<br>
          Find the missing term.<br>
          5, 17, 37, 65, 101…?<br></p>
	       a).140<br>
	       b).134<br>
	       c).145<br>
	       d).158    <br>                                  
             answer: <input type="text" name="13" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  
     <p> question 14:<br>
          180,192, ? ,216.<br></p>
	       a).202<br>
	       b).204<br>
      	   c).206<br>
	       d).208    <br>                        
             answer: <input type="text" name="14" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  
     <p>question 15:<br>
         CKP, DNT, ?<br></p>
	      a).PQM<br>
	      b).PNT<br>
	      c).EQX<br>
	      d).XQM    <br>                              
            answer: <input type="text" name="15" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  
     <p>question 16:<br>
         In a certain coded technique, the word BANG is coded as EFUP,then how GAPE will be coded as per the technique?<br></p>
	      a).JFWN<br>
     	  b).JKNP<br>
	      c).KNMO<br>
	      d).KFNW    <br>                            
            answer: <input type="text" name="16" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br> 
     <p> question 17:<br>
         Raju is facing towards the northwest direction. From there he turns 900 to the clockwise direction and from there he turns 450 towards the same direction. Again, from there he moves 3150 in the anticlockwise direction. Which direction is he facing now? <br></p>
	      a).South<br>
       	  b).West<br>
	      c).South-east<br>
	      d).North-west        <br>                       
            answer: <input type="text" name="17" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  
     <p> question 18:<br>
         Ravi starts from his house and moves 4 km to the north and takes a left turn and walks 10 km and enjoys a beautiful sunset, from there he walks to a tea shop 4 km to the south. How much distance he needs to cover to reach his house?<br></p>
	      a).4 km<br>
	      b).12 km<br>
	      c).5 km<br>
	      d).10 km                       <br>               
             answer: <input type="text" name="18" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  
     <p>question 19:<br>
         A clock reads the time as 6:45. If the minute hand points towards north, in which direction will the hour hand point to?<br></p>
	      a).North<br>
	      b).South<br>
	      c).North-west<br>
	      d).North-east    <br>                             
            answer: <input type="text" name="19" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  
     <p> question 20:<br>
          How many revolutions does a cycle wheel make in travelling one km?<br>
          I. It is pedalled at the speed of 3 km/hour.<br>
          II. The height of the top most point of the wheel from the ground is 1.3 meters.<br><br></p>
	       a).Statement i alone is sufficient but statement ii alone is not sufficient.<br>
	       b).Statement ii alone is sufficient but statement i alone is not sufficient.<br>
	       c).Both statements i and ii together are sufficient but neither of the statements alone is sufficient.<br>
	       d).Either statement alone is sufficient                    <br>
	         answer: <input type="text" name="20" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  
	 <p>question 21:<br>
	     The word “debilitating” is closest in meaning to<br></p>
	      a).Fearing knowledge<br>
	      b).Incapacitating<br>
	      c).Paralysis<br>
	      d).Inability to recognise letters / numbers<br>
	      answer: <input type="text" name="21" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>            <br>     
     <p> question 22:<br>
        INEBRIATE meaning<br></p>
	     a).Drunk<br>
	     b).Inundate<br>
	     c).Inculcate<br>
	     d).toxic       <br>
	     answer: <input type="text" name="22" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>                         
     <p> question 23:<br>

        EMBEZZLE meaning<br></p>
	     a).Swindle<br>
	     b).Rejuvenate<br>
	     c).Clarify<br>
	     d).Subtle     <br> 
	     answer: <input type="text" name="23" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>                           
     <p> question 24:<br>

        INDICT meaning<br></p>
  	     a).Convict<br>
	     b).Sentiment<br>
	     c).Accuse<br>
	     d).Imprison  <br>  
	     answer: <input type="text" name="24" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>                           

     <p> question 25:<br>
        LANKY opposite<br></p>
	     a).Funky<br>
	     b).Stable<br>
	     c).Brawny<br>
	     d).Trendy    <br>  
	     answer: <input type="text" name="25" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>                            

     <p> question 26:<br>
     	find error in the following sentence<br>
        She was (A) / by time (B) / for the seminar (C) / because her friend dropped her at the venue. (D)<br></p>
	     a).A<br>
	     b).B<br>
	     c).C<br>
	     d).D    <br>       
	     answer: <input type="text" name="26" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>                     


     <p> question 27:<br>
        “This is _______ lunch package I have ordered,” he said.<br></p>
	      a).a<br>
	      b).an<br>
	      c).the<br>
	      d).none of the above<br>                       
          answer: <input type="text" name="27" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>  
     <p> question 28:<br>
        The professor observed that the student ___________ in various exams.<br></p>
	      a).had failing<br>
	      b).has been failing<br>
	      c).had had failed<br>
	      d).failing<br>
	      answer: <input type="text" name="28" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>                                       

     <p>question 29:<br>
        A lot of clothes __________ purchased<br> </p>

	      a).has been<br>
	      b).have been<br>
	      c).were<br>
	      d).are     <br>   
	      answer: <input type="text" name="29" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>                          

     <p> question 30:<br>
     	find the error in the following sentence<br>
        The boy was (A) / sick, and (B) / he didn’t want (C) / to take rest. (D)<br></p>
	      a).A<br>
	      b).B<br>
     	  c).C<br>
	      d).D <br>         
	      answer: <input type="text" name="30" pattern="[A-D,a-d,0]{1}"><br>
	      <hr><br>                                                          

    

<center><a href="https://admiring-brahmagupta-2aa3d8.netlify.com"><button>submit</button></a></center>

</body></html>

